volumes:
  bundle:

services:
  package:
    image: ruby:3.3
    tty: true
    stdin_open: true
    working_dir: /home/package
    environment:
      - MEILISEARCH_URL=meilisearch
      - MEILISEARCH_PORT=7700
      - BUNDLE_PATH=/vendor/bundle
    depends_on:
      - meilisearch
    links:
      - meilisearch
    volumes:
      - ./:/home/package
      - bundle:/vendor/bundle

  meilisearch:
    image: getmeili/meilisearch-enterprise:latest
    ports:
      - "7700"
    environment:
      - MEILI_MASTER_KEY=masterKey
      - MEILI_NO_ANALYTICS=true
