version: "3.8"

volumes:
  bundle:

services:
  package:
    image: ruby:3.0
    tty: true
    stdin_open: true
    working_dir: /home/package
    environment:
      - MEILISEARCH_HOST=meilisearch
      - MEILISEARCH_PORT=7700
      - BUNDLE_PATH=/vendor/bundle
    depends_on:
      - meilisearch
    links:
      - meilisearch
    volumes:
      - ./:/home/package
      - bundle:/vendor/bundle

  meilisearch:
    image: getmeili/meilisearch:v0.28.0rc3
    ports:
      - "7700"
    environment:
      - MEILI_MASTER_KEY=masterKey
      - MEILI_NO_ANALYTICS=true
